<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    <!-- file upload -->
    <div class="text-center">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </div>


    <!-- table of shirts -->
    <div class="container text-center">
        <h1 class="mb-3 mt-3">T-Shirt Inventory</h1>

        <table class="table mt-2 table-hover table-striped table-sm">
                
                <!-- table header -->
                <tr>
                    <th>Description</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Quantity</th>
                </tr>

                <!-- data from pdf to rows -->
                {% for row in shirts %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</body>
</html>