<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
</head>
<body class="container">
    <div class="row">
        <div class="text-center">
            <h1>Login</h1>
            <form action="/login" method="POST">


                <!-- creates variable messages -->
                <!-- get_flashed_messages() pulls any flashes messages that are currently stored in session -->

                <!-- flashed messages only exist for one request, so when a page refresh occurs they dissappear -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash-messages">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                <!-- Email div -->
                <div class="mb-2">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <!-- Password div -->
                <div class="mb-2">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <!-- Submit Button -->
                <input type="submit" value="Submit">

            </form>
        </div>
    </div>
</body>
</html>