<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Registration</title>
</head>
<body class="container">
    <div class="row">
        <div class="text-center">
            <h1>Registration</h1>

            <form action="/register" method='POST'>


                <!-- creates variable messages -->
                 <!-- get_flashed_messages() pulls any flashes messages that are currently stored in session -->

                 <!-- flashed messages only exist for one request, so when a page refresh occurs they dissappear -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash-messages">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                <!-- first name div -->
                <div class="my-2">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" required>
                </div>

                <!-- last name div -->
                <div class="my-2">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" required>
                </div>

                <!-- Email div -->
                <div class="mb-2">
                    <label for="email">Email:</label>
                    <input type="emial" id="email" name="email" required>
                </div>

                <!-- Password div -->
                <div class="mb-2">
                    <label for="password1">Password:</label>
                    <input type="password" id="password1" name="password1" required>
                </div>

                <!-- Repeat Password div -->
                <div class="mb-2">
                    <label for="password2">Repeat Password:</label>
                    <input type="password" id="password2" name='password2' required>
                </div>

                <!-- Submit Button -->
                <input type="submit" value="Submit">

            </form>

        </div>
    </div>
</body>
</html>